.text-editor{

  width: 100%;
  border: 1px solid #dfdfdf;

}

.text-editor__header{
  background: #f6f6f6;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px;
}

.text-editor__body{
  padding: 15px 0;

}

.text-editor__input{
  height: 600px;
  overflow: auto;
  outline: none;
  padding: 0 15px;
}

.text-editor__footer{
  background: #f6f6f6;
  border-top: 1px solid #dfdfdf;
  padding: 10px;
}

.text-editor__submit{
  border: none;
  outline: none;
  background: #0e63ec;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}